<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title></title>
	<!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />-->
	<!--<link rel="stylesheet" type="text/css" href="../static/css/detail.css" th:href="@{/css/detail.css}" />-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/customer.css" th:href="@{/css/customer.css}" />

</head>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<body >
	
	<div class="body">
		<!-- 导航条 -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-customer ">
			<div class="container-fluid">
				<div class="navbar-header navbar-first">
					<a class="navbar-brand navbar-font"  href="index">YuKaiJi Blog</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right navbar-ul-font">
						<li class="icon-bar">
							<a class="navbar-font" href="index">HOME</a>
						</li>
						<li class="icon-bar">
							<a class="navbar-font" href="about">ABOUT</a>
						</li>
						<!--<li class="icon-bar">-->
							<!--<a class="navbar-font" href="/">GROUP</a>-->
						<!--</li>-->
					</ul>
				</div>

			</div>
		</nav>

		<!-- Header -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="body-text">
						<h1>
							发生了错误.
						</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="div-height-100"></div>
					<div class="div-height-20"></div>
					<div class="footer-customer">
						<p>Copyright © 2018- 2019 YuKaiji All Rights Reserved</p>
					</div>
					<div class="div-height-100"></div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>

