<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title></title>
	<link rel="stylesheet" type="text/css"  th:href="@{/editor/css/editormd.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/editor/editormd.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<body >
	<div class="article input-group" style="margin: 0 auto;width: 90%;margin-top: 20px;">
		<span class="input-group-addon" id="sizing-addon2">标题</span>
		<input id="article-title" class="form-control" type="text" name="article-title" placeholder="Title" />
	</div>
	<div></div>
	<div class="editormd" id="test-editormd">
		<textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
		<!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
		<textarea id="article-html" class="editormd-html-textarea" name="article"></textarea>
	</div>
	<button id="submit"> 提交</button>
</body>
<script th:inline="javascript">
    $(function() {
        editormd("test-editormd", {
            width:"90%",
            height:640,
            syncScrolling:"single",
            //你的lib目录的路径，我这边用JSP做测试的
            path:"/editor/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea:true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/uploadfile"
        });
    });


    $('#submit').click(function() {
        //获取第二个textarea的值，即生成的HTML代码   实际开发中此值存入后台数据库
        var article =$("#article-html").val();
        var articleTitle = $("#article-title").val();
        console.log(article)
        $.ajax({
            type: "post",
            url: "write",
            data: {article:article,articleTitle:articleTitle},
            dataType: "json",
            success: function(data){
                console.log("data");
            },
			error: function (date) {
                alert(date)
            }
        });

    });
</script>
</html>

